<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="card login-card shadow-lg">
    <div class="card-body p-4">
      <h3 class="text-center mb-4 text-primary">{{ 'login.title' | translate}}</h3>
      
      <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
       
        <div class="mb-3">
          <label for="email" class="form-label labelStyle">{{'login.email.label' | translate}}</label>
          <input 
            type="email" 
            [(ngModel)]="loginCredential.Email" 
            name="inputEmail" 
            #email="ngModel" 
            class="form-control" 
            id="email" 
            placeholder="{{ 'login.email.placeholder' | translate }}"
            pattern="^[a-zA-Z0-9._%+-]+@gmail\.com$"  
            required
          >
          <div id="emailHelp" class="form-text">{{ 'login.email.help' | translate }}</div>
          <small class="text-danger" *ngIf="(loginForm.submitted || email.touched)&& email.errors?.['required']">{{ 'login.email.required' | translate }}</small>
          <small class="text-danger" *ngIf="(loginForm.submitted || email.touched)&& email.errors?.['pattern']">{{ 'login.email.pattern' | translate }}</small>
        </div>
        
        <div class="mb-3">
          <label for="password" class="form-label labelStyle">{{ 'login.password.label' | translate }}</label>
          <div class="input-group">
            <input 
              [type]="showPassword ? 'text' : 'password'" 
              [(ngModel)]="loginCredential.Password" 
              name="inputPassword" 
              #password="ngModel"
              class="form-control" 
              id="password" 
              placeholder="{{ 'login.password.placeholder' | translate }}" 
            
              required
            >
            <button type="button" class="btn btn-outline-secondary" (click)="togglePassword()">
              <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
            </button>
          </div>

          <small class="text-danger" *ngIf="(loginForm.submitted || password.touched)&& password.errors?.['required']">
            {{ 'login.password.required' | translate }}
          </small>

          <!--
           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@.#$!%*?&])[A-Za-z\d@.#$!%*?&]{8,15}$" 
          <small class="text-danger" *ngIf="password.touched && password.errors?.['pattern']">
            {{ 'login.password.pattern' | translate }}
          </small> -->

         </div>
        
        <button type="submit"  [disabled]="loginAttemt <= 0 || loginForm.invalid" class="btn btn-primary w-100">{{'login.button.login' | translate}}</button>
        <small class="text-danger mt-2" *ngIf="!(loginAttemt===0)" ><span *ngIf="loginAttemt < 3"> {{'login.attempt.remaining' | translate:{count:loginAttemt} }}</span> </small>
        <small class="text-danger mt-2" *ngIf="loginAttemt===0" >{{'login.attempt.locked' | translate:{seconds:timeRemainingToLogin} }}</small>
      </form>

     
    </div>
  </div>
</div>
