
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="btn-close" aria-label="Close" ></button>
</div>
<div class="modal-body">
    <form action="" #addForm="ngForm">
       
         <div>
            <table class="table table-striped">
                <thead class="text-center">
                    <tr >
                        <th>select</th>
                        <th>Book Id</th>
                        <th>Publisher</th>
                        <th>Course</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr >
                        <td>
                            <input type="checkbox">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
         </div>
    </form>
    
</div>
<div class="modal-footer">
    <div class="row d-grid gap-3 d-md-flex justify-content-end">
       <button class="btn btn-sm btn-outline-success">
            Select
       </button>
       <button class="btn btn-sm btn-outline-danger">
            DisSelect
       </button>
    </div>
</div>




