<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">{{'navbar.brand' | translate}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul *ngIf="authSevice.isLoggedIn()" class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="BooksList">Book List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="BooksIssuedList">Books Issue List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="BooksIssueDetailsAdd">Book Issue Add</a>
          </li>
        
        </ul>
        
      </div>

      <div class=" d-grid gap-2 d-flex justify-content-end">

          
       

        <ng-select
            [items]="languages"
            bindLabel="label"
            bindValue="value"
            [(ngModel)]="currentLang"
            (change)="switchLang($event)">
        </ng-select>
     

      
        <button *ngIf="authSevice.isLoggedIn()" class="btn btn-sm btn-outline-danger" type="button" (click)="logOutBtnClick()">{{'navbar.button.logOut' | translate}}</button>
      
      
        <button *ngIf="!authSevice.isLoggedIn()" class="btn btn-sm btn-outline-primary" type="button" routerLink="/login">{{'navbar.button.login' | translate}}</button>
      </div>
    </div>
  </nav>

  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<router-outlet></router-outlet>